    <div class="row">     
      <center><h2>Agregar Consulta</h2></center> 
      <form action="/api/usuario/historias_clinicas/{{id}}" method="POST">
        <div class="row">
            <div class="col 1" ></div>
            <div class="col 10">
                <fieldset class="border p-2">
                  <legend  class="float-none w-auto p-2">Datos personales</legend>
                  <div class="row">
                    <div class="col 6">                        
                          <div class="form-group">
                            <input
                              type="hidden"
                              class="form-control"
                              name="id_paciente"
                              value="{{id}}"
                              readonly="true"
                            />
                          </div>
                          <div class="form-group">
                            <label for="nombres">Nombre Completo</label>
                            <input
                              type="text"
                              class="form-control"
                              id="nombres"
                              name="nombre_completo"
                              value="{{nombre_completo}}"
                              readonly="true"
                            />
                          </div>
                        {{#each paciente}}
                          {{#if nombre}}
                            <div class="form-group">
                              <label for="dnis">Dni</label>
                              <input
                                type="text"
                                class="form-control"
                                id="dnis"
                                name="dni"
                                placeholder="Ingresar DNI"
                                value = "{{dni}}"
                                readonly="true"
                              />
                            </div>
                          {{/if}}
                        {{/each}}
                          <div class="form-group">
                            <label for="fecha_nacimiento">Fecha Nacimiento</label>
                            <input
                              type="date"
                              class="form-control"
                              id="fecha_nacimiento"
                              name="fecha_nacimiento"
                              value="{{nacimiento}}"
                              readonly="true"
                            />
                          </div>
                        {{#each paciente}}
                          {{#if nombre}}
                          <div class="form-group">
                            <label for="">Direccion</label>
                            <input
                              type="text"
                              class="form-control"
                              id=""
                              name="direccion"
                              placeholder="Ingresar Dirección"
                              value="{{direccion}}"
                              readonly="true"
                            />
                          </div>
                          <div class="form-group">
                            <label for="">Localidad</label>
                            <input
                              type="text"
                              class="form-control"
                              id=""
                              name="localidad"
                              placeholder="Ingresar localidad"
                              value="{{localidad}}"
                              readonly="true"
                            />
                        </div>
                      </div>
                      <div class="col 6">                     
                        <div class="form-group">
                          <label for="emails">Email</label>
                          <input
                            type="text"
                            class="form-control"
                            id="emails"
                            name="email"
                            placeholder="Ingrese un email"
                            value="{{email}}"
                            readonly="true"
                          />
                        </div>
                        <div class="form-group">
                          <label for="">Telefono 1</label>
                          <input
                            type="text"
                            class="form-control"
                            id=""
                            name="telefono_1"
                            placeholder="Ingresar teléfono 1"
                            value="{{telefono_1}}"
                            readonly="true"
                          />
                        </div>
                        <div class="form-group">
                          <label for="">Telefono 2</label>
                          <input
                            type="text"
                            class="form-control"
                            id=""
                            name="telefono_2"
                            placeholder="Ingresar teléfono 2"
                            value="{{telefono_2}}"
                            readonly="true"
                          />
                        </div>
                        <div class="form-group">
                          <label for="">Obra Social</label>
                          <input
                            type="text"
                            class="form-control"
                            id=""
                            name="obra_social"
                            placeholder="Ingresar obra social"
                            value="{{obra_social}}"
                            readonly="true"
                          />
                        </div>
                        <div class="form-group">
                          <label for="">Identificación obra social</label>
                          <input
                            type="text"
                            class="form-control"
                            id=""
                            name="id_obra_social"
                            placeholder="Ingresar identificacion obra social"
                            value="{{id_obra_social}}"
                            readonly="true"
                          />
                        </div>
                        {{/if}}
                      {{/each}}
                      </div>
                  </div>
                </fieldset>
                <fieldset class="border p-2">
                  <legend  class="float-none w-auto p-2">Datos Consulta</legend>
                    <div class="row">
                      <div class="form-group">
                        <label>Fecha Consulta</label>
                        <input type="date" 
                              class="form-control" 
                              name="fecha_consulta" 
                              required="true"/>
                        <br />
                      </div>
                      <div class="form-group">
                        <label>Motivos Consulta</label>
                        <textarea
                          class="form-control heigth-hc"
                          name="motivos_consulta"
                          id="floatingTextarea"
                          placeholder="Motivos Consulta.."
                        ></textarea>
                        <br />
                      </div>
                      <div class="form-group">
                        <label>Condición Actual</label>
                        <textarea
                          class="form-control heigth-hc"
                          name="condicion_actual"
                          placeholder="Condición Actual.."
                        ></textarea>
                        <br />
                      </div>
                      <div class="form-group">
                        <label>Antecedentes Salud</label>
                        <textarea
                          class="form-control heigth-hc"
                          name="antecedentes_salud"
                          placeholder="Antecedentes de Salud.."
                        ></textarea>
                        <br />
                      </div>
                      <div class="form-group">
                        <label>Comentarios</label>
                        <textarea
                          class="form-control heigth-hc"
                          name="comentarios"
                          placeholder="Comentarios.."
                        ></textarea>
                        <br />
                      </div>
                    </div>
                </fieldset>
            </div>
            <div class="col 1" ></div>
          </div>
        <center style="margin-top:10px">
          <button type="submit" class="btn btn-outline-primary btn-sm with-button" style="display: inline-block;">Registrar</button>
          </form>
          <form action="/api/usuario/historias_clinicas/{{id}}?_method=GET" method="POST"  style="display: inline-block;">
                  <input type="hidden" value="GET" name="_method" />
                  <button
                    class="btn btn-outline-primary btn-sm with-button"
                    type="submit"
                  >Volver</button>
          </form>
        </center>
    </div>